#about-container{
    margin-top: 20%;
    transform: translateY(-50%);
    #about-content{
        font-size: 1.2rem;
        word-wrap: break-word;
        letter-spacing: .005rem;
        border-right: .15em solid orange;
        display: inline;
        padding: 2px;
        white-space: pre-line;
        animation: 
            blink-caret .75s step-end infinite;
    }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
